language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6

env:
  - SYMFONY_VERSION=2.2.*
  - SYMFONY_VERSION=2.3.*
  - SYMFONY_VERSION=2.4.*
  - SYMFONY_VERSION=2.5.*
  - SYMFONY_VERSION=2.6.*
  - SYMFONY_VERSION=2.7.*

before_script:
  - composer require --prefer-source --dev symfony/framework-bundle:${SYMFONY_VERSION}
  - composer require --prefer-source --dev symfony/console:${SYMFONY_VERSION}

script: bin/phpunit
